$font-blue:#3190e8;

/*公用*/
html{
  font-size:62.5%; //10/16*100%=62.5% 默认10px的字号
}
*,a,li,input,button{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style: none;
  outline: none;/*去掉chrome浏览器自带的点击input框出现边框情况*/
  background:none;
  border:0px;
  -webkit-appearance: none; /*去掉按钮样式*/
  /*-webkit-appearance: button;*/
  /*使元素标签看起来像个按钮样式，意思定义了按钮样式*/
}

/*字体*/
/*字体粗细*/
.tBold{
  font-weight: bolder;
}

/*字体大小*/
.tSizeMin{
  font-size: 1.2rem;
}
.tSizeCom{
  font-size: 1.4rem;
}
.tSizePri{
  font-size: 1.6rem;
}
.tSizeMax{
  font-size: 1.8rem;
}

/*字体颜色*/
.tColorHL{
  color: $font-blue;
}
.tColorPri{
  color: #333;
}
.tColorDef{
  color: #666;
}
.tColorDet{
  color: #999;
}
.tColorCom{
  color: white;
}

/*文本溢出*/
.tEllipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*首行文本缩进*/
.tIndent_def{
  text-indent: 10px;
}

/*背景色*/
.bgcDef{
  background-color: #f5f5f5;
}
.bgcPri{
  background-color: white;
}

/*盒模型*/
/*宽*/
.widthDef{
  width: 100%;
}
.widthTab{
  width: 25%;
}

/*盒模型-外边距*/
.marTop_def{
  margin-top: 10px;
}

/*盒模型-边框*/
.borderT_def{
  border-top: 0.1rem solid #e4e4e4;
}
.borderR_def{
  border-right: 0.1rem solid #e4e4e4;
}
.borderB_def{
  border-bottom: 0.1rem solid #e4e4e4;
}
.borderB_double{
  border-bottom: 0.2rem solid #e4e4e4;
}
.borderL_def{
  border-left: 0.1rem solid #e4e4e4;
}

/*圆角*/
.radius_pri{
  border-radius: 0.4rem;
}
.radius_def{
  border-radius: 0.2rem;
}

/*定位*/
.hidden{
  overflow: hidden;
}

/*flex布局*/
.mainLcrossC{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.mainSBcrossC{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mainSAcrossC{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mcCenter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*排列方向*/
.directionV{
  display: flex;
  flex-direction: column;
}

.box{
  display: flex;
}
.boxInline{
  display: inline-flex;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}
.nowrap{
  display: flex;
  flex-wrap: nowrap;
}

/*具体页面*/
.headNav{
  width: 100%;
  background-color: #3190e8;
  position: fixed;
  left: 0;
  top: 0;
}





