//变量
$initial-value: 0 !default;
$none:none !default;

$initial-px: 1rem !default;

$base-color: #333;
$blue: #3190e8;
$bgc-blank:#f5f5f5;
$border-color:#e4e4e4;

$width: 100% !default;
$height: 100% !default;

/*公用*/
html{
  font-size:62.5%;//10/16*100%=62.5% 默认字号10px
}

*,a,li,input,button{
  padding:$initial-value;
  margin:$initial-value;
  text-decoration: $none;
  list-style: $none;
  outline: $none;/*去掉chrome浏览器自带的点击input框出现边框情况*/
  background: $none;
  border:$initial-value;
  -webkit-appearance: $none; /*去掉按钮样式*/
  /*-webkit-appearance: button;*/
  /*使元素标签看起来像个按钮样式，意思定义了按钮样式*/
}


//宽高
@mixin width-height($width, $height){
  width: $width;
  height: $height;
}

//邊框
$b-width: $initial-px*0.1!default;
$b-style: solid!default;
$b-color: $border-color!default;
$radius:$initial-value!default;
$key: border!default;
@mixin border($key,$b-width,$b-style,$b-color,$radius){
  @if $key==border{
    border:{
      width: $b-width;
      style: $b-style;
      color: $b-color;
      radius: $radius;
    }
  }@else if $key==border-top{
    border-top:{
      width: $b-width;
      style: $b-style;
      color: $b-color;
      radius: $radius;
    }
  }@else if $key==border-right{
    border-right:{
      width: $b-width;
      style: $b-style;
      color: $b-color;
      radius: $radius;
    }
  }@else if $key==border-bottom{
    border-bottom:{
      width: $b-width;
      style: $b-style;
      color: $b-color;
      radius: $radius;
    }
  }@else{
    border-top:{
      width: $b-width;
      style: $b-style;
      color: $b-color;
      radius: $radius;
    }
  }
}

//font: font-style | font-weight | font-size | font-family ;字体樣式、粗細、大小、系列、行高
$normal: normal !default;
$bolder: 900 !default;
$familay: 'Microsoft YaHei', arial, sans-serif, 'Droid Sans Fallback';

@mixin font-face($style,$weight,$size,$family) {
  font: {
    style: $style;
    weight: $weight;
    size: $size;
    family: $family
  };
}


//内边距-padding
$value:$initial-px !default;
@mixin padding($key,$value){
  @if $key==padding{
    padding:$value;
  }@else if $key==padding-top{
    padding-top:$value;
  }@else if $key==padding-right{
    padding-right:$value;
  }@else if $key==padding-bottom{
    padding-bottom:$value;
  }@else{
    padding-left:$value;
  }
}

//外边距-margin
@mixin margin($key,$value){
  @if $key==margin{
    margin:$value;
  }@else if $key==margin-top{
    margin-top:$value;
  }@else if $key==margin-right{
    margin-right:$value;
  }@else if $key==margin-bottom{
    margin-bottom:$value;
  }@else{
    margin-left:$value;
  }
}



// 背景图片地址和大小
@mixin bis($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



//定位全屏
@mixin allcover{
  position:absolute;
  top:0;
  right:0;
}

//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//定位上下居中
@mixin cl{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


//flex 布局和 子元素 对其方式

.clear{
  width:100%;
  margin:0 auto;
  *zoom:1;
  &:before,&:after{
    display:table;
    content:""
  }
  &:after{
    clear:both
  }
}




/*首行文本缩进*/
.tIndent_def{
  text-indent: $initial-px;
}

/*盒模型*/

/*盒模型-边框*/
.borderT_def{
  border-top: 0.1rem solid #e4e4e4;
}
.borderR_def{
  border-right: 0.1rem solid #e4e4e4;
}
.borderB_def{
  border-bottom: 0.1rem solid #e4e4e4;
}
.borderB_double{
  border-bottom: 0.2rem solid #e4e4e4;
}
.borderL_def{
  border-left: 0.1rem solid #e4e4e4;
}


/*定位*/
$hide:hidden;
.hidden{
  overflow: $hide;
}

/*flex布局*/

$direction: row !default;
$isWrap: nowrap !default;
$flex: $initial-value !default;
@mixin box($direction,$isWrap,$x-type,$y-type,$flex){
  display: flex;
  flex-direction: $direction;
  flex-wrap: $isWrap;
  justify-content: $x-type;
  align-items: $y-type;
  flex: $flex;
}

/*文本溢出*/
.ellipsis{
  overflow: $hide;
  text-overflow: ellipsis;
  white-space: $isWrap;
}

#app{
  @include width-height($width,$height);
  @include font-face($normal,$normal,$initial-px*1.4,$familay);
  background-color: $bgc-blank;
}

.border{
  border: 0.1rem solid #e4e4e4;
}
.border-top{
  border-top: 0.1rem solid #e4e4e4;
}
.border-right{
  border-right: 0.1rem solid #e4e4e4;
}
.border-btm{
  border-bottom: 0.1rem solid #e4e4e4;
}
.border-left{
  border-left: 0.1rem solid #e4e4e4;
}

.box{
  display: flex;
}
.text-white{
  color:$base-color*5;
}
.bgc-white{
  background-color:$base-color*5;
}
$center:center;
$around:space-around;
$between: space-between;
$column: column;

.bolder{
  font-weight: 900;
}

