/*公用*/
*,a,li,input,button{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style: none;
  outline: none;/*去掉chrome浏览器自带的点击input框出现边框情况*/
  background:none;
  border:0px;
  -webkit-appearance: none; /*去掉按钮样式*/
  /*-webkit-appearance: button;*/
  /*使元素标签看起来像个按钮样式，意思定义了按钮样式*/
}

/*字体*/
.fontBold{
  font-weight: bolder;
}
.fsMin{
  font-size: 12px;
}
.fsCom{
  font-size: 14px;
}
.fsPri{
  font-size: 16px;
}
.c31{
  color: #3190e8;
}
.c6{
  color: #666;
}
.c9{
  color: #999;
}
.cFF{
  color: white;
}
.cDan{
  color: red;
}

/*背景色*/
.bgcF5{
  background-color: #f5f5f5;
}
.bgcFF{
  background-color: white;
}

/*盒模型-边框*/
.bt_def{
  border-top: 1px solid #e4e4e4;
}
.br_def{
  border-right: 1px solid #e4e4e4;
}
.bb_def{
  border-bottom: 1px solid #e4e4e4;
}
.bb_new{
  border-bottom: 2px solid #e4e4e4;
}

/*盒模型-外边距*/
.hotCity,.sortCity{
  margin-top: 10px;
}

/*圆角*/
.radius{
  border-radius: 4px;
}

/*文本溢出*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*首行文本缩进*/
.ti{
  text-indent: 10px;
}

/*定位*/
.hidden{
  overflow: hidden;
}

/*flex布局*/
.mLcC{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
 }
.mSBcC{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mSAcC{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mcCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.layoutCol{
  display: flex;
  flex-direction: column;
}
.box{
  display: flex;
}
.boxInline{
  display: inline-flex;
}
.wrap{
  display: flex;
  flex-wrap: wrap;
}
.nowrap{
  display: flex;
  flex-wrap: nowrap;
}

/*具体页面*/
#app{
  font-weight: normal;
  font-family: Microsoft Yahei;
  background-color: #f5f5f5;
}

.headNav{
  width: 100%;
  background-color: #3190e8;
  position: fixed;
  left: 0;
  top: 0;
}




